::-webkit-scrollbar { 
  display: none; 
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #2f2f2f;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* With an added fake (pseudo) element it works. IMPORTANT: There must be no spaces between the elements in the source, else it doesn't work! */
.imgContainer {
  height:100%;
  margin: 0px;
  padding: 10px;
}

/* Fake (pseudo) element, that enables vertical-align */
.imgContainer-landscape:before {
  content: "";
  height: 100%;

  display: inline-block;
  vertical-align: middle;

  margin: -2px;
  padding: 0px;
}

/* By default vertical-align ist not possible, only different elements can be vertically aligned among eachother */
.viewerImg-landscape {
  width: 100%;

  display: inline-block;
  vertical-align: middle;
}

.viewerImg-portrait {
  height: calc(100% - 20px);
  margin: auto;
  display: block;
}

