::-webkit-scrollbar { 
  display: none; 
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #2f2f2f;
}

.settings-container {
  display: none; //hidden by default
  width: 95%;
  border: 1px solid #696969;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #696969;
}

.settings-container-hidden {
  width: 95%;
  color: #696969;
}

.settings-container_cancel-button {
  float: right;
  border: none;
  background:none;
  color: #696969;
  padding-bottom: 8px;
}

.preferences-option {
  width: 100%;
  margin: 5px;
}

.preferences-gallery-folder-picker__label {
  float: left;
  width: 100%;
}

.preferences-action {
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.preferences-action input {
  margin-top: 15px;
}

.preferences-gallery-folder-picker__action {
  max-width: 20%;
  cursor: pointer;
  float: left;
}

.preferences-gallery-folder-picker__icon {
  height: 20px;
  padding-top: 7px;
}

.preferences-gallery-folder__path {
  color: #9c9c9c;
  width: 400px;
  max-width: 80%;
  margin: 5px;
}

.preferences-refresh-interval {
  width: 15px;
}

.preferences-num-columns {
  width: 15px;
}

.text-centered {
  margin: 0px;
  text-align: center;
}

.galleries-container {
  margin: 0px;
}

.gallery-column {
  float: left;
}

.gallery-image {
  padding-left: 1px;
  padding-right: 1px;
  margin: 0;
}

.gallery-image img {
  display: block;
  padding-bottom: 2px;
  width:100%;
  cursor: pointer;
}

.outline {
  border: 1px solid red;
}
