::-webkit-scrollbar { 
  display: none; 
}

.main {
  background-color: #2f2f2f;
}

.logs {
  display: none; //this will hide the logs

  height: 50px;
  overflow-y: scroll;

  border: 1px solid #ADFF2F;
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 15px;
  background-color: #000000;

  list-style-type: none;
  color: #696969;
  font-size: 10px;
}

.gallery-folder {
  width: 90%;
}

.refresh-period {
  width: 25%;
}

.num-columns {
  width: 25%;
}

.settings-container {
  display: none; //hidden by default
  width: 95%;
  border: 1px solid #696969;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #696969;
}

.settings-container-hidden {
  width: 95%;
  color: #696969;
}

.text-centered {
  margin: 0px;
  text-align: center;
}

.gallery-column {
  float: left;
}

.gallery-image {
  padding-left: 4px;
}

.outline {
  border: 1px solid red;
}
